@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
    --main-color:#A2D2FF;
    --secondary-color:#FEF9EF;
    --third-color:#FF865E;
    --fourth-color:#FEE440;
    --Text-color-1:#fff;
    --Text-color-2:#000000;
    --on-hover1:#03413c;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    // border: #000000 1px solid;
}

a:hover{
    cursor:default
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    background-color: var(--main-color);
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--secondary-color);
    z-index: 5;
    width: 100%;
    opacity:75%;
}

.logo{
    color: var(--Text-color-2);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav_links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav_links li{
    list-style: none;
}

.nav_links a{
    color: var(--Text-color-2);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
}

.nav_links a:hover{
    color: var(--on-hover1);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 0.5s ease;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 300px;
    height: 300px;
    border-bottom: #000000 1px solid;
}

p{
    // position: absolute;
    z-index: 2;
    // right: 6%;
    // top: 22%;
    font-size: larger;
    // letter-spacing: 1px;
    font-weight:1000 ;
}

#container1{
    position: relative;
    width: 100%;
    height: 800px;
    opacity: 70%;
    align-items: center;
    // background-color: rgb(65, 197, 197);
}

#banner1{
    position: absolute;
    width: 100%;
    height: 100%;
}

#container2{
    position: relative;
    background-image: linear-gradient(rgb(99, 184, 184),rgb(177, 174, 174));
    width: 100%;
    height: 800px;
}

.prices{
    position: relative;
    border: 2px solid rgba(0, 136, 190, 0.432);
    z-index: 1;
    width: 300px;
    height: 500px;
    border-radius:25px ;
    top: 20%;
    // background-color: #c9c9c9;
    background-image: url('../pics/high\ economy.jpg');
    background-repeat:no-repeat;
    font-size: large;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.prices h4{
    position: absolute;
}

.buy{
    position: relative;
    width: 12rem;
    height: 5rem;
    // top: 50%;
    margin: 0 auto;
    margin-top: 50%;
    border-radius: 17px;
    border: 2px solid rgb(255, 68, 0);
    background-color:rgba(255, 255, 255, 0);
    letter-spacing: 2px;
    font-weight: 800;
    font-size: large;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.buy:hover{
    position: relative;
    width: 15rem;
    height: 8rem;
    // top: 50%;
    margin: 0 auto;
    margin-top: 50%;
    border-radius: 17px;
    border: 2px solid rgb(245, 158, 126);
    background-color:rgba(127, 167, 184, 0.301);
    letter-spacing: 2px;
    font-weight: 800;
    font-size: larger;
    transition: all 180ms ease-in-out;
    color: white;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.credit{
    position: relative;
    bottom: 0px;
    // display: none;
}

#container3{
    position: relative;
    background-image: linear-gradient(rgb(177, 174, 174),rgb(255, 169, 222));
    width: 100%;
    height: 800px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
}

input{
    width: 400px;
    height: 70px;
    margin: 1px;
}

.submit{
    position: relative;
    width: 400px;
    height: 100px;
    margin-top:40px;
}

#container4{
    position: relative;
    background-image: linear-gradient(rgb(255, 169, 222),rgb(175, 224, 96));
    width: 100%;
    height: 800px;
}

#container5{
    position: relative;
    background-image: linear-gradient(rgb(175, 224, 96),rgb(231, 113, 113));
    width: 100%;
    height: 800px;
}

footer{
    position: relative;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(rgb(231, 113, 113),rgb(65, 197, 197));
    text-align: center;
    margin: 0;
    border-top: #000000 1px solid;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #a39599;
}

::-webkit-scrollbar-thumb {
    background: #cf0d57;
}

::-webkit-scrollbar-thumb:hover {
    background: #cc4949;
}

@media only screen and (max-width: 1200px) and (max-height:2000px){
    nav{
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 8vh;
        background-color: var(--secondary-color);
        width: 100%;
    }
    
    .logo{
        color: var(--Text-color-2);
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 20px;
    }
    
    .nav_links{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30%;
    }
    
    .nav_links li{
        list-style: none;
    }
    
    .nav_links a{
        color: var(--Text-color-2);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        padding: 10px;
    }

    #banner1{
        display: none;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    #container2{
        position: relative;
        background-image: linear-gradient(rgb(65, 197, 197),rgb(177, 174, 174));
        width: 100%;
        height: 800px;
        align-items: center;
    }
    
    .prices{
        position: relative;
        border: 2px solid black;
        z-index: 1;
        width: 200px;
        height: 300px;
        border-radius:25px ;
        top:0;
        // background-color: #c9c9c9;
        background-image: url('../pics/high\ economy.jpg');
        background-repeat:no-repeat;
        font-size: large;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    
    .prices h4{
        position: absolute;
    }
    
    .buy{
        position: relative;
        width: 12rem;
        height: 5rem;
        // top: 50%;
        margin: 0 auto;
        margin-top: 50%;
        border-radius: 17px;
        border: 2px solid rgb(255, 68, 0);
        background-color:rgba(255, 255, 255, 0);
        letter-spacing: 2px;
        font-weight: 800;
        font-size: large;
        bottom: 5%;
    }

    .buy:hover{
        position: relative;
        width: 12rem;
        height: 5rem;
        // top: 50%;
        margin: 0 auto;
        margin-top: 50%;
        border-radius: 17px;
        border: 2px solid rgb(255, 68, 0);
        background-color:rgba(255, 255, 255, 0);
        letter-spacing: 2px;
        font-weight: 800;
        font-size: large;
        bottom: 5%;
    }
    
    .credit{
        position: relative;
        bottom: 0px;
        display: none;
    }

    .tours{
        display: none;
    }
}
